<h1 class="display-4 pt-3 pb-3"><%= t('log_in') %></h2>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", label: t("password") %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me, label: t("remember_me")%>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit t('log_in'), class: "btn btn-info mt-3" %>
  </div>
<% end %>

