<h1 class="display-4 pt-3 pb-3"><%= t('sign_up') %></h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", label: t("password") %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", label: t("password_confirmation") %>
  </div>

  <div class="actions">
    <%= f.submit t('sign_up'), class: "btn btn-info mt-3" %>
  </div>
<% end %>

