<%= bootstrap_form_for(@organisation, :url => { :action => yield(:form_action) }) do |form| %>
    <p>
      <%= form.text_field :name, label: t("name") %>
    </p>
   
    <p>
      <%= form.text_area :description, label: t("description") %>
    </p>
   
    <p>
      <%= form.submit yield(:button_text), class: "btn btn-info my-4" %>
    </p>
<% end %>