<h1 class="display-4 pt-3 pb-3"><%= t('organisations') %></h1>
<div class="table-responsive table-organisation">
  <table class="table table-striped custom-table  mt-5">
    <thead class="bg-info text-white">
      <tr>
        <th class="text-center" scope="col">ID</th>
        <th class="text-center" scope="col"><%= t('name')%></th>
        <th class="text-center" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @organisations.each do |organisation| %>
      <tr>
        <td class="text-center" scope="row"><%= organisation.id %></th>
        <td class="text-center"><%= organisation.name %></td>
        <td class="text-center"><%= link_to organisation_path(organisation) do %>
            <%= icon('fas', 'angle-double-right') %>
        <% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @organisations %>
</div>