<h1 class="display-4 pt-3 pb-3"><%=@organisation.name%></h1>

<div class="card border-info mb-3" style="max-width: 35rem;">
  <div class="card-header border-info"><%="#{t('owner_id')}: #{@organisation.owner.id}"%></div>
  <div class="card-header bg-transparent border-info">
    <p class="card-text"><%=@organisation.description%></p>
  </div>
  <div class="card-body bg-transparent border-info">
    <p class="font-weight-bold"><%= "#{t('users')}:" %></p>
    <% @users.each do |user| %>
        <p><%= user.email %></p>
    <% end %>
  </div>
</div>
  <% if @is_owner %>
    <%= link_to t("edit"), edit_organisation_path(@organisation), class: "btn btn-outline-info"  %>
  <% end %>