
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%=t("you_have_a_new_invitation")%>, <%= @user.first_name %></h1>
    <p>
      <%=t("you_have_been_invited_to_attend_conversation")%>: <%= @conversation.subject %>.<br>
    </p>
    <p>
       <%=t("the_conversation_is_planned_for")%>: <%= @conversation.date%>.
    </p>
    <p> <%=t("let_us_know_if_you_are_going_to_be_there")%> <%= @url%>.</p>
  </body>
</html>