
<%=t("you_have_a_new_invitation")%>, <%= @user.first_name %>
===============================================
 


<%=t("you_have_been_invited_to_attend_conversation")%>: <%= @conversation.subject %>
<%=t("the_conversation_is_planned_for")%>: <%= @conversation.date %>
<%=t("let_us_know_if_you_are_going_to_be_there")%> <%= @url%>.</p>
