<%= bootstrap_form_for(@conversation, :url => { :action => yield(:form_action) }) do |form| %>
    <p>
      <%= form.text_field :subject, label: t("subject") %>
    </p>

    <p>
      <%= form.text_area :note, label: t("note") %>
    </p>

    <div class="file-input">
      <%= form.file_field :image, direct_upload: true, accept: "image/png,image/gif,image/jpeg", label: t("image")%>
    </div>


    

 <div class="form-group">
            <label for="date"><%=t("custom_date")%></label>
            <div class="input-group date" id="conversation_date" data-target-input="nearest">
                <input direct_upload="true" value="<%=@conversation.date.strftime('%d-%m-%Y %H-%M') if @conversation.date.present?%>" type="datetime" name="conversation[date]" class="form-control datetimepicker-input <% if @conversation.errors[:date].any?%>errors-sign<%end%>" data-target="#conversation_date" />
                <div class="input-group-append" data-target="#conversation_date" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
  </div> 
<div class="custom-errors"><%= @conversation.errors[:date].join(", ") if @conversation.errors[:date].any?%></div>


  
    <p>
      <%= form.select(:status, Conversation.statuses.keys.map {|key| [Conversation.human_enum_name(:status, key), key]}) %>
    </p>

    <div class="field">
      <%= form.text_field :tags_as_string, id: :product_tags_as_string, label: t("tags") %>
    </div>

    <%= form.fields_for :conversation_members_attributes do |ff| %>
      <% current_user.user_organisation.users_from_organisation.each do |user| %>
        <%= check_box_tag("conversation[conversation_members_attributes][][user_id]", user.id, Conversation::IsUserConversationMemberService.new(@conversation, user).call) %>
        <%= user.first_name %>
        <br>
      <% end %>
    <% end %>

    <p>
      <%= form.submit yield(:button_text), class: "btn btn-warning my-4" %>
      <%= link_to t('cancel'), user_conversations_path, class: "btn btn-outline-warning" %>
    </p>
<% end %>