<h1 class="display-4 pt-3 pb-3"><%= t('conversations') %></h1>

 <%= link_to t('as_initiator'), user_conversations_path(initiator: "true"), class: "btn btn-warning" %>
  <%= link_to t('as_member'), user_conversations_path(initiator: "false"), class: "btn btn-warning" %>
<form class="form-inline float-md-right flex-nowrap">
<%= form_tag(user_conversations_path, method: "get")  do %>
  <%= hidden_field_tag :initiator, params[:initiator] %>
  <%= text_field_tag :term,  params[:term], placeholder: t('search-text'), class: "form-control mr-2" %>
  <%= submit_tag t('search'), class: "btn btn-warning  mr-2", name: nil %>
  <%= link_to t('all'), user_conversations_path(initiator: params[:initiator]), class: "btn btn-outline-warning" %>
<% end %>
</form>

<div class="table-responsive table-conversation">
  <table class="table table-striped custom-table  mt-5">
    <thead class="bg-warning text-white">
      <tr>
        <th class="text-center" scope="col"><%= t('subject')%></th>
        <th class="text-center" scope="col"><%= t('custom_date')%></th>
        <th class="text-center" scope="col"><%= t('tags')%></th>
        <th class="text-center" scope="col"><%= t('status')%></th>
        <th class="text-center" scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <% @conversations.order(date: :asc).each do |conversation| %>
      <tr>
        <td class="text-center"><%= conversation.subject %></td>
          <td class="text-center"><%= conversation.date.to_s(:db)    %></td>
          <td class="text-center"><%= conversation.tags_as_string%>
          <td class="text-center"><%= Conversation.human_enum_name(:status, conversation.status) %></td>
          <td class="text-center"><%= link_to user_conversation_path(conversation) do %>
            <%= icon('fas', 'angle-double-right') %>
          <% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @conversations %>
</div> 

