<h1 class="display-4 pt-3 pb-3"><%=@conversation.subject%></h1>

<div class="card border-warning mb-3" style="max-width: 35rem;">
  <div class="card-header border-warning"><%="#{t('initiator_id')}: #{@conversation.initiator.id}"%></div>
  <div class="card-header border-warning"><%="#{t('custom_date')}: #{@conversation.date}"%></div>
  <div class="card-header border-warning"><%="#{t('status')}: #{Conversation.human_enum_name(:status, @conversation.status)}"%></div>
  <div class="card-header border-warning"><%="#{t('tags')}: #{@conversation.tags_as_string}"%></div>
  <div class="card-body bg-transparent border-warning">
    <p class="card-text"><%=@conversation.note%></p>

  </div>

  <div class="card-body bg-transparent border-warning">
    <p class="font-weight-bold"><%= "#{t('members')}:" %></p>
    <% @conversation.users.each do |user| %>
        <p><%= user.first_name %></p>
  <% end %>
  </div>
    <% if @conversation.image.attached? %>
      <div class="card-body border-warning">
        <div style="width:400px; height:auto">
          <%= image_tag(@conversation.image, style: 'width:100%', class: "image") %>
        </div>
      </div>
    <% end %>
</div>

<% if @is_initiator %>
  <%= link_to t("edit"), edit_user_conversation_path(@conversation), class: "btn btn-outline-warning"  %>
<% end %>