<% provide(:button_text, t('save_changes')) %>
<% provide(:form_action, :update) %>
  <div class="col-md-6 col-md-offset-3">
    <h1 class="display-4 pt-3 pb-3"><%= t('edit_team') %></h1>
    <%= render 'form' %>
  </div>
