<h1 class="display-4 pt-3 pb-3"><%= t('teams') %></h1>
<div class="table-responsive table-team">
  <table class="table table-striped custom-table  mt-5">
    <thead class="bg-success text-white">
      <tr>
        <th class="text-center" scope="col">ID</th>
        <th class="text-center" scope="col"><%= t('name')%></th>
        <th class="text-center" scope="col"></th>
      </tr>
    </thead>
    <tbody>
       <% @teams.each do |team| %>
      <tr>
        <td class="text-center" scope="row"><%=team.id%></th>
        <td class="text-center"><%= team.name %></td>
          <td class="text-center"><%= link_to team_path(team) do %>
              <%= icon('fas', 'angle-double-right') %>
          <% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<%= paginate @teams %>
</div>