<% provide(:button_text, t('add_team')) %>
<% provide(:form_action, :create) %>

  <div class="col-md-6 col-md-offset-3">
    <h1 class="display-4 pt-3 pb-3"><%= t('add_team') %></h1>
    <%= render 'form' %>
  </div>
