<h1 class="display-4 pt-3 pb-3"><%=@team.name%></h1>

<div class="card border-success mb-3" style="max-width: 35rem;">
  <div class="card-header border-success"><%="#{t('mother_organisation')}: #{@team.organisation.name}"%></div>
  <div class="card-header bg-transparent border-success">
    <p class="card-text"><%=@team.description%></p>
  </div>
  <div class="card-body bg-transparent border-success">
    <p class="font-weight-bold"><%= "#{t('users')}:" %></p>
    <% @users.each do |user| %>
        <p><%= user.email %></p>
    <% end %>
  </div>
</div>
<% if @is_owner %>
    <%= link_to t("edit"), edit_team_path(@team), class: "btn btn-outline-success"  %>
<% end %>