<h1 class="display-4 pt-3 pb-3"><%= t("devise.invitations.new.header") %></h1>

<%= bootstrap_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% resource.class.invite_key_fields.each do |field| -%>
    <div class="field">
      <%= f.text_field field %>
    </div>
    <div class="field">
      <%= f.select :team_id, Team.where(organisation_id: current_user.user_organisation.id).collect{|team| [team.name, team.id]} %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit t("devise.invitations.new.submit_button") %>
  </div>
<% end %>
