// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.custom-table{
  border-radius: 5px;
  overflow: hidden;
}

i {
  font-size: 1.5em;
}

.table-conversation i:hover {
  text-shadow: 1px 1px 1px #725986;
}

.table-conversation i {
  color: #725986;
}

.table-organisation i:hover {
  text-shadow: 1px 1px 1px #3ca2b8;
}

.table-organisation i {
  color: #3ca2b8;
}

.table-team i:hover {
  text-shadow: 1px 1px 1px #2c6e52;
}

.table-team i {
  color: #2c6e52;
}

.example .pagination>li>a,
.example .pagination>li>span {
  border: 1px solid purple;
}
.pagination>li.active>a {
  background: purple;
  color: #fff;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #2c6e52;
  border-color: #2c6e52;
}

.table-team .page-item.active .page-link {
  background-color: #2c6e52;
  border-color: #2c6e52;
}

.table-team .page-link {
  color: #2c6e52;
}

.table-organisation .page-item.active .page-link {
  background-color: #3ca2b8;
  border-color: #3ca2b8;
}

.table-organisation .page-link {
  color: #3ca2b8;
}

.table-conversation .page-item.active .page-link {
  background-color: #725986;
  border-color: #725986;
}

.table-conversation .page-link {
  color: #725986;
}

.custom-errors {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.errors-sign {
  border-color: #dc3545 !important;
}