<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
            <li class="nav-item">
                <%= link_to t('conversations'), user_conversations_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to t('new_conversation'), new_user_conversation_path, class: "nav-link" %>
            </li> 
        <% end %>
        <% if user_signed_in? && current_user.is_admin %>
            <li class="nav-item">
                <%= link_to t("all_organisations"), organisation_index_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
                <%= link_to t("all_teams"), team_index_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
                <%= link_to t("new_team"), new_team_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
                <%= link_to t("new_invitation"), new_user_invitation_path, class: "nav-link"%>
            </li>
        <% end %>
        <%= content_tag :li do %>
             <li class="nav-item">
                 <%= link_to t('to_en'), url_for(locale: 'en'), class: "nav-link" %>
            </li>
        <% end unless current_page?(locale: :en) %>
        
        <%= content_tag :li do %>
            <li class="nav-item">
                <%= link_to t('to_pl'), url_for(locale: 'pl'), class: "nav-link" %>
            </li>
        <% end unless current_page?(locale: :pl) %>
      </li>
              <% if current_user %>
            <li class="nav-item">
                <%= link_to t('sign_out'), destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
             <% else %>
                <li class="nav-item">
                    <%= link_to t('sign_up'), new_user_registration_path, class: "nav-link" %>
                </li><li class="nav-item">
                    <%= link_to t('log_in'), new_user_session_path, class: "nav-link" %>
            </li>
            <% end %>
      </li>
    </ul>
  </div>
</nav>
